.smart-text-ellipsis {
    position: relative;

    &.is-ellipsis {
        .smart-text-ellipsis-expand {
            opacity: 1;
            pointer-events: initial;
        }
    }

    &.is-exceeded-max-line {
        .smart-text-ellipsis-collapse {
            opacity: 1;
            pointer-events: initial;
            position: initial;
        }
    }

    .smart-text-ellipsis-more {
        display: -webkit-box;
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        display: -moz-box;
        line-clamp: var(--max-lines);
        box-orient: vertical;
        overflow: hidden;
    }

    .smart-text-ellipsis-one {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .smart-text-ellipsis-expand {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
    }

    .smart-text-ellipsis-collapse {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    .smart-text-ellipsis-text-v {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
    }
}